/* HTML Selectors */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@300;400&display=swap');
:root {
    --main-color: #3D5A80;
    --constrast-color: #FFB703;
    --dark-main-color: #023047;
    --light-main-color:#8ECAE6;
}



body {
    font-family: 'Roboto Mono','Open Sans', cursive;
}

div {
    margin: 10px;
    text-align: center;
    justify-items: center;
}

.order-by-price {
    display: grid;
}

input, select, button {
    margin: .5em;
    padding: .4em;
    color: var(--dark-main-color);
    text-align: center;
    font-size: 15px;
    border-radius: .3em;
    border: solid 1px var(--light-main-color);
}

footer {
    background-color: var(--constrast-color);
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}
.product-image {
    margin: 1em auto;
}

.product-image img {
    width: 50%;
    border: solid 1px var(--light-main-color);
    padding: 2em;
    border-radius: .5em;
}

.product-description {
    background-color: var(--dark-main-color);
    color: white;
    padding: 1em 2em;
    font-size: 12.5px;
    border-radius: .5em;
    text-align: left;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    text-align: center;
    padding: 1em auto;
}

nav {
    background-color: black;
    color: white;
}
nav {
    background-color: var(--main-color);
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: var(--light-main-color);
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--main-color);
    color: white;
    border-radius: .5em;
    margin: 0em 2em;
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

/* ID Selectors */
#favorite-foods, #hobbies, #places-lived {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}


.catalog {
    font-size: 13px;
    margin: 0 auto;
    max-width: 400px;
}

#catalog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

}